
header{
    height: 100px;
}

.box-image{
    width: 50px;
}

.grid-box{
    display: flex;
    flex-wrap: wrap;
}
.box{
    width: 10%;
    height: calc(100% / 10);
    border: 1px solid black;
    font-size: large;
    text-align: center;
    background-color: darkgray;
}

.bomb{
    background-color: red;
}

.clicked{
    background-color: aqua;
}

.body-container{
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
}

main{
    height: calc(100% - 100px);
}